@import url(style_estutura_pagina.css);

#form{
    background-color: aqua;
    width: 1000px;
    min-height: 600px;
    padding: 50px;
    margin: 20px auto;
}

label{
    display: block;
    margin: 20px 0px;
    font-size: 1.5;
}